<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
</head>
<body>
<form>
    Envie esses arquivos:<br />
    <input name="upload[]" type="file" multiple/><br />
    <input type="hidden" id="uploadRoute" value='{{ path("upload_file") }}' />
    <button id="upload">Enviar arquivos</button>
</form>

<div class="c-loader"></div>

<script src="{{ asset('js/upload.js') }}"></script>
</body>
</html>